---
import { shuffle } from '../scripts/rss2data';
import '../styles/rss-joy.css';

const { feedURLs, title = "RS.S JOY.lol", description, edition = "Aggregator", tagline = "An RSS-some starting page." } = Astro.props;
--- 

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content={description}>
		<link rel="icon" type="image/svg+xml" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌈</text></svg>" />
    <script src="../scripts/rss2html.js"></script>
		<title>{title}{edition && " | " + edition}</title>
	</head>
	<body>
		<header>
			<h1>{title}{edition && <em> {edition}</em>}</h1>
			<p>{tagline}</p>
		</header>
    <main>
      {shuffle(feedURLs)}
      {feedURLs.map((blog) => (
      <rss-list src={blog.url} max={blog.posts ?? "5"} order={blog.order ?? "newFirst"}></rss-list>
      ))}
    </main>
    <footer>
      <p id="credit">2024 <a href="https://sarajoy.dev">Sara Joy</a> with lots of help from <a href="https://hectius.com/">Darius</a> :)
        <br>
        <br><a href={edition === "Sara live" ? "/sara" : "/"}>Back to static version</a></p>
      
    </footer>
  </body>
  
  </html>